.selectDouble {
    height: 20px;
    border: 0;
    outline: 0px solid #ccc;
    outline-offset: -1px;
  }
  #corpo{
    background-image:linear-gradient( rgba(255,255,255,.8) 0%,rgba(255,255,255,.8) 100%), url(../img/BrasaoMacae.png); 

  }
  #versao{
    font-size:15px;
  }
  #toolsExibe {
    color: #dc3545;
    display: none;
    float: right;
  }